.teste{
    background-color: tomato;
}

.verde{
    background-color: rgb(174, 235, 186);
}

.cinza{
 background-color: rgb(190, 194, 194);
}

.roza{
    background-color:rgb(243, 209, 222);
}

.azul{
    background-color:rgb(191, 197, 253);
}