.teste3{
    background-color: rgb(0, 245, 16);
    width: 35%;
}

.verde3{
    background-color: rgb(174, 235, 186);
}

.cinza3{
 background-color: rgb(190, 194, 194);
}

.roza3{
    background-color:rgb(243, 209, 222);
}

.azul3{
    background-color:rgb(191, 197, 253);
}